[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
sqlalchemy = "*"
pylint = "*"
click = "*"
python-dotenv = "*"
"psycopg2-binary" = "*"
pandas = "==0.20.3"

[dev-packages]

[requires]
python_version = "3.6"
